/*media query */
 @media (max-width : 992px){

}
@media (max-width:768px){

}
@media (max-width: 575px){ 

}

/* ---- fixed background ----*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip:rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#logo{
    border-radius: 50%;
    width: 100px;
   
}
#header{
    padding-bottom: 0px;
    padding-top: 20px;
}
.row{
    padding-bottom: 20px;
}
.card-title {
    margin-top: .75rem;
    margin-left: .75rem;
}
